<section class='flex justify-start items-center gap-3 mt-5'>
	<img
		src='/assets/images/image-avatar.webp'
		alt='greg hooper image profile avatar'
		class='w-10'
	/>
	<span class='text-sm font-bold'>Grego Hooper</span>
</section>
