---
import Layout from '../layouts/Layout.astro';
import CardComponent from '../components/CardComponent.astro'
---

<Layout title='Welcome to Astro.'>
	<main class="bg-amber-300 h-svh flex justify-center items-center">
		<CardComponent />
	</main>
</Layout>
